<section> 
    <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm" fxLayoutGap=10px (ngSubmit)="onLogIn()">
        <mat-form-field>
            <input 
                type="email" 
                matInput 
                placeholder="Your email" 
                formControlName="email">
                <mat-error>E-mail is invalid</mat-error>
                <mat-hint>Please enter a valid email.</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input 
                type="password" 
                matInput 
                placeholder="Your password" 
                formControlName="password">
                <mat-hint>Please enter a valid Password</mat-hint>
                <mat-error>Missing</mat-error>
        </mat-form-field>
        <button *ngIf="!(isLoading$ | async)" type="logIn" mat-raised-button color="primary" [disabled]="loginForm.invalid">Log In</button>
        <mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner>
    </form>
</section>
